{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2 class="content-subhead">Moje rezerwacje:</h2>
    {% if user.is_authenticated %}
    <ol>
    {% for reservation in object_list %}

        <li>{{ reservation.restaurant }}
        <ul>
        <li>{{ reservation.date }} - {{ reservation.time }}</li>
        <li>Stolik: {{ reservation.table }}</li>
        <ul>Wybrane z menu:
            {% for meal in reservation.meal.all %}
            <li>{{ meal.name }}</li>
            {% endfor %}
            </ul>
        </ul>
        </li>
            <button><a href="/delete_reservation/{{ reservation.id }}/">Usuń</a></button>
    {% endfor %}
    {% endif %}
    </ol>
    </div>
{% endblock %}