{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2 class="content-subhead">Moje restauracje:</h2>
    {% if user.is_authenticated %}
    <ol>
    {% for restaurant in object_list %}
    <div class="pure-u-1-4">
        <img class="logo-list" src="{{ restaurant.logo.url }}" alt="logo">
    </div>

        <h2 class="content-subhead">{{ restaurant.name }}</h2>
        <ul>
        <li>Telefon: {{ restaurant.phone }}</li>
        <li>Adres: {{ restaurant.address }}</li>
        </ul>

            <button><a href="/delete_restaurant/{{ restaurant.id }}/">Usuń</a></button>
    {% endfor %}
    {% endif %}
    </ol>
    </div>
{% endblock %}