{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2 class="content-subhead">Moje recenzje:</h2>
    <ol>
    {% for review in object_list %}

        <li>{{ review.restaurant.name }}
        <ul>
        <li>Ocena {{ review.get_rate_display }}</li>
        <li>Recenzja: {{ review.review }}</li>

        </ul>
        </li>
        {% if perms.lunchtime.review_delete %}
            <button><a href="/delete_review/{{ review.id }}/">Usuń</a></button>
        {% endif %}
    {% endfor %}
    </ol>
    </div>
{% endblock %}